.name__title {
    margin-top: 9rem;
}

.name__why {
    margin-top: calc(1rem * 9/16);
    font-size: calc(1rem * 13/16);
    line-height: calc(1rem * 13/16);
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--text-primary);
}

.name__controls {
    margin-top: calc(1rem * 40/16);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
}

.name-controls__line-1 {
    display: flex;
    justify-content: center;
    gap: calc(1rem * 9/16);
}

.name-controls__error {
    color: var(--text-error);
    font-size: calc(1rem * 14/16);
}

.name__controls > button {
    flex-shrink: 0;
}

.controls__name {
    flex-grow: 1;
    text-align: left;
    outline: none;
    border-radius: calc(1rem * 100/16);
    font-size: calc(1rem * 21/16);
    border: calc(1rem * 1/16) solid rgba(97, 97, 97, 0.2);
    line-height: 1em;
    padding-left: calc(1rem * 18/16);
    padding-right: 1em;
    color: var(--text-primary);
}

.controls__name::placeholder {
    opacity: 0.2;
}
