.pay__title {
    margin-top: calc(1rem * 50/16);
    max-width: calc(1rem * 442/16);
}

.pay__content {
    margin-top: calc(1rem * 26/16);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: calc(1rem * 56/16);
    width: min(1rem * 501/16, 100% - 5vw);
}

.pay__bottom {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: calc(1rem * 10/16);
}

.pay__nominal {
    font-size: 5rem;
    line-height: 2rem;
    letter-spacing: 0.01em;
    color: black;
    align-self: flex-end;
}

.pay__interval {
    font-size: calc(1rem * 25/16);
    padding-left: calc(1rem * 11/16);
    line-height: 1em;
    text-align: left;
    color: black;
}

.pay__next-button-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.pay__next-button-title {
    font-size: calc(1rem * 21/16);
    padding-left: 1rem;
    padding-right: 1em;
    line-height: 1em;
    color: white;
}
