.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.community__title {
    font-size: 3rem;
    letter-spacing: 0.01em;
    line-height: 1em;
    color: var(--text-secondary);
}

.community__paragraph {
    margin-top: 3.3125rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: 0.01em;
    width: min(100%, 31.4375rem);
    color: #FFFFFF;
}

.content__screens-container {
    margin-top: 1.625rem;
    display: flex;
    width: min(100%, 42.75rem);
    aspect-ratio: 1.38;
    gap: 3.05%;
    justify-content: stretch;

    position: relative;
}

.screen-container__up-anchor {

}

.content__screen {
    width: 31.3%;
    display: block;
}

.content__screen:nth-child(odd) {
    align-self: flex-end;
}

.content__screen:nth-child(even) {
    align-self: flex-start;
}

.content__what-you-get {
    margin-top: 5.4375rem;
    width: 100%;
    max-width: 36.6875rem;
}

.what-you-get__question {
    font-size: 2rem;
    line-height: 1em;
    text-align: left;
}

.what-you-get__statements-container {
    margin-top: 2.5625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.statement {
    background: white;
    border-radius: 1.375rem;
    width: min(22.875rem, 100%);
    height: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1em;
}

.statement:nth-child(even) {
    align-self: flex-end;
}

.statement:nth-child(odd) {
    align-self: flex-start;
}

.statement__hand {
    margin-left: 1.8rem;
    width: 1.9rem;
    height: 3.625rem;
}

.statement__text {
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-left: 1.5em;
    letter-spacing: 0.01em;
}

.content__who-else {
    margin-top: 8rem;
}

.who-else__question {
    color: var(--button-secondary);
    font-size: 2rem;
    line-height: 1em;
    letter-spacing: 0.01em;
}

.who-else__paragraph {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em;
    color: white;
    width: min(17.72em, 100%);
}

.content__join {
    margin-top: 2.4375rem;
}

.join__text {
    font-size: 1.125rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em;
    padding-right: 4.5em;
    padding-left: 0.5em;
    text-transform: none;
    color: var(--text-primary);
}

.content__credentials {
    margin-top: 17.1875rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.credential {
    font-size: 1.125rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.5;
}

.content__circle-anchor {
    width: 1px;
    height: 1px;
    z-index: -1;
}

.content__circle-anchor > img {
    width: calc(min(1rem * 319/16, 100vw) * 1692/319);
    aspect-ratio: 1;
    position: absolute;
}

.circle-anchor_up {
    top: 15.4%;
    left: 34.2%;
    position: absolute;
}

.circle-anchor_bottom {
    margin-left: 4rem;
}

.circle-anchor_up > img {
    transform: translateX(-50%) translateY(-100%);
}

.circle-anchor_bottom > img {
    transform: translateX(-50%) translateY(-50%);
}


