@media screen and (min-width: calc(1rem * 1700/16)){
  .App {
    --card-holder-top: calc(1rem * 150/16);
  }
}

@media screen and (min-width: calc(1rem * 1250/16)) and (max-width: calc(1rem * 1700/16)) {
    .App {
    --card-holder-bottom: 0;
  }
}

.App, .App__card-zone {
  margin: 0 auto;
  width: min(100vw, 1rem * 1462/16);
}

.App__card-zone {
  position: fixed;
  height: min(100vh, 1rem * 829 / 16);
  top: var(--card-holder-top);
  bottom: var(--card-holder-bottom);
}

.card-holder {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.card-holder_right {
  right: 0;
}

.card-holder_center {
  right: 50%;
  transform: translateX(50%);
}

@media screen and (max-width: calc(1rem * 1224/16)) {
  .App__content {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 10vh;
  }
}

@media screen and (min-width: calc(1rem * 1224/16)) {
  .App__content {
    padding-left: 6rem;
    padding-top: 2.25rem;
  }
}

.App__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.App__card-holder_mobile {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-bottom: 2rem;
}

.App__header {
  margin-bottom: 5.5rem;
}

/*.App__circles {
  position: absolute;
  z-index: -1;
  top: -31%;
  left: -50%;
  width: 150%;
  height: 131%;
}*/

/*.circle:nth-child(1) {
  right: 0;
  top: 0;
}

.circle:nth-child(2) {
  left: 0;
  bottom: 0;
}*/

/*.circle {
  position: absolute;
  width: 88%;
  aspect-ratio: 1;
}*/

.primary {
  color: var(--text-primary);
  stroke: var(--text-primary);
  fill: var(--text-primary);
}

.secondary {
  color: var(--text-secondary);
  stroke: var(--text-secondary);
  fill: var(--text-secondary);
}

.card-holder-moving-right {
  animation: card-move .5s;
}

.card-holder-moving-center {
  animation: card-move reverse .5s;
}

@keyframes card-move {
  from {
    right: 50%;
    transform: translateX(50%);
  }
  to {
    right: 0;
  }
}

.fade-in {
  animation: fade .5s;
}

.fade-out {
  animation: fade .5s reverse;
}

.fade-in-left {
  animation: fade-left .5s;
}

.fade-out-left {
  animation: fade-left .5s reverse;
}

.fade-in-right {
  animation: fade-right .5s;
}

.fade-out-right {
  animation: fade-right .5s reverse;
}

.hidden {
  display: none !important;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
