@media screen and (min-width: 1700px){
  .App {
    --card-holder-top: 150px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1700px) {
  .App {
    --card-holder-bottom: 0;
  }
}

.App {
  margin: 0 auto;
  width: min(100vw, 91.375rem);
  font-size: 42px;
}

@media screen and (max-width: 1224px) {
  .App__content {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 10vh;
  }
}

@media screen and (min-width: 1224px) {
  .App__content {
    padding-left: 6rem;
    padding-top: 2.25rem;
  }
}

.App__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.App__card-holder_mobile {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-bottom: 2rem;
}

.App__card-holder_desktop {
  position: fixed;
  overflow: auto;
  overflow-y: scroll;
  width: fit-content;
  top: var(--card-holder-top);
  bottom: var(--card-holder-bottom);
  margin: 0 auto;
  left: 50%;
}

.App__header {
  margin-bottom: 5.5rem;
}

.App__circles {
  position: absolute;
  z-index: -1;
  top: -31%;
  left: -50%;
  width: 150%;
  height: 131%;
}

.circle:nth-child(1) {
  right: 0;
  top: 0;
}

.circle:nth-child(2) {
  left: 0;
  bottom: 0;
}

.circle {
  position: absolute;
  width: 88%;
  aspect-ratio: 1;
}

.primary {
  color: var(--text-primary);
  stroke: var(--text-primary);
  fill: var(--text-primary);
}

.secondary {
  color: var(--text-secondary);
  stroke: var(--text-secondary);
  fill: var(--text-secondary);
}

.card-holder-right {}

.card-holder-center {
  transform: translateX(-50%);
}

.card-holder-moving-right {
  animation: card-move reverse .5s;
}

.card-holder-moving-center {
  animation: card-move .5s;
}

@keyframes card-move {
  from {}
  to { transform: translateX(-50%); }
}

.fade-in {
  animation: fade .5s;
}

.fade-out {
  animation: fade .5s reverse;
}

.fade-in-left {
  animation: fade-left .5s;
}

.fade-out-left {
  animation: fade-left .5s reverse;
}

.fade-in-right {
  animation: fade-right .5s;
}

.fade-out-right {
  animation: fade-right .5s reverse;
}

.hidden {
  display: none !important;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }

  70% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
